<footer class="container">
	<div class="row imp-links mt-lg-5 footer-legal">
		<div class="col-lg-9 pb-3">
			<ul class="nav flex-column flex-lg-row">
				<li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Disputes/Arbitration</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Accessibility</a></li>
			</ul>
		</div>
		<div class="col-lg-3 text-lg-right">
			<p>© 2019 Portal</p>
		</div>
	</div>
</footer>